@model Store.Models.Stores.QuestionModel
@{
    ViewBag.Title = "مدیریت چک لیست ایمنی داربست ";
   

}

<!-- Wizard CSS -->
<link href="~/Content/Theme/assets/plugins/jquery-wizard-master/css/wizard.css" rel="stylesheet">


<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-12">
        <h4 class="page-title">فرم ثبت چک لیست ایمنی</h4>
    </div>
    <div class="col-lg-9 col-md-8 col-12">
        
        <ol class="breadcrumb">
            <li><a href="/Home/Index">داشبورد</a></li>
            <li class="active">ثبت چک لیست ایمنی  </li>
        </ol>
    </div>

</div>
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    @using (Ajax.BeginForm("Create", "safetychecklist", null, new AjaxOptions { Url = "/safetychecklist/Create", HttpMethod = "Post", OnSuccess = "addSuccessSafetyChecklist" }, new { @enctype = "multipart/form-data", id = "form", @class = "" }))
                    {

                        <div class="col-lg-4">
                            <div class="form-group  m-b-40">

                                @Html.LabelFor(model => model.ScaffoldingId, new { @class = "col-sm-12 col-form-label " })

                                @Html.DropDownListFor(model => model.ScaffoldingId, Model.ScaffoldingList, new { @class = "form-control select2" })

                            </div>
                        </div>
                        <div id="test">
                            @Html.Partial("_CreateorUpdate", Model)
                        </div>
                     


                    }
                </div>
                    </div>
                        </div>

                    </div>
                </div>

                <!-- Form Wizard JavaScript -->
                <script src="~/Content/Theme/assets/plugins/jquery-wizard-master/dist/jquery-wizard.min.js"></script>
                <!-- FormValidation -->
                <link rel="stylesheet" href="~/Content/Theme/assets/plugins/jquery-wizard-master/libs/formvalidation/formValidation.min.css">
                <!-- FormValidation plugin and the class supports validating Bootstrap form -->
                <script src="~/Content/Theme/assets/plugins/jquery-wizard-master/libs/formvalidation/formValidation.min.js"></script>
             
                <script type="text/javascript">

                    $(document).ready(function () {

                        $("#info").hide();
                        $(".select2").select2("destroy");
                        $(".select2").select2();

                    });
                    function addSuccessSafetyChecklist(data) {

                        if (data.ResultType == 0) {


                            $(".alert-success").hide();
                            $('.alert-success b').html();
                            $('.alert-success b').html(data.Message);
                            $('.alert-danger').hide();
                            $('.alert-warning').hide();
                            $(".alert-success").fadeToggle(350);


                            $("#safetyPrint").show();

                        }
                        else if (data.ResultType == 1) {


                            $('.alert-danger b').html();
                            $('.alert-danger b').html(data.Message);
                            $('.alert-success').hide();
                            $('.alert-danger').hide();
                            $('.alert-warning').hide();
                            $(".alert-danger").fadeToggle(350);



                        }
                    }                   
                    (function () {
                        $('#exampleBasic').wizard({
                          
                            onFinish: function () {

                                //$("#btn-submit").trigger("click");
                                $("#info").slideDown("slow", function () {
                                    // Animation complete.
                                });
                               
                            },

                            buttonLabels: {
                                next: 'بعدی',
                                back: 'قبلی',
                                finish: 'پایان'
                            }
                        });
                     
                        
                    })();

                    function submit() {
                        $( ".wizard-finish" ).click(function() {
                            $( "#btn-submit" ).trigger( "click" );
                        });
 
                       // $('#btn-submit').show();
                    }
                </script>


