@model Store.Models.Stores.StoreRoom.ScaffoldEquipmentModel
@{
    ViewBag.Title = "مدیریت اختصاص تجهیزات به داربست ";
}



<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-12">
        <h4 class="page-title">فرم اختصاص  تجهیزات به داربست </h4>
    </div>
    <div class="col-lg-9 col-md-8 col-12">
        <a href="#" target="_blank" class="btn btn-danger pull-left m-r-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect waves-light">خرید قالب</a>
        <ol class="breadcrumb">
            <li><a href="/Home/Index">داشبورد</a></li>
            <li><a href="/ScaffoldingEquipment/Index">نمایش لیست  تجهیزات داربست  </a></li>
            <li class="active"> اختصاص  تجهیزات به داربست  </li>
        </ol>
    </div>
  
</div>
<div class="row">
    <div class="col-md-12">
        <div class="white-box">
            @using (Ajax.BeginForm("Create", "ScaffoldingEquipment", null, new AjaxOptions { Url = "/ScaffoldingEquipment/Create", HttpMethod = "Post", OnSuccess = "addSuccess" }, new { @enctype = "multipart/form-data", id = "form", @class = "" }))
            {

                @Html.AntiForgeryToken()

                @Html.Partial("_CreateorUpdate", Model)

                <div class="form-actions">
                    <button type="submit" class="btn btn-success btn-rounded"> <i class="fa fa-check"></i> ثبت</button>
                    <a class="btn btn-inverse waves-effect waves-light btn-rounded" href="/ScaffoldingEquipment/Index"><i class="fa fa-times"></i> بازگشت</a>

                </div>

            }

        </div>
    </div>
</div>


