@model Store.Models.Stores.WorkOrderStatusModel

<div class="form-group has-error has-danger m-b-40">
    @Html.TextBoxFor(model => model.Title,new { required = "" ,@class="form-control"})
    @Html.LabelFor(model => model.Title)
    @Html.ValidationMessageFor(model => model.Title)
    @*<span class="help-block"><small> این فیلد خطا دارد </small></span>*@
</div>

