<div class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-success myadmin-alert-top alerttop">
    <p class="m-b-0"><i class="fa fa-check"></i><b></b></p>
    <a href="#" class="closed">×</a>
</div>

<div class="myadmin-alert myadmin-alert-icon myadmin-alert-click alert-danger myadmin-alert-top alerttop">
    <p class="m-b-0"><i class="fa fa-close"></i><b></b></p>
    <a href="#" class="closed">×</a>
</div>

<div class="myadmin-alert myadmin-alert-img myadmin-alert-click alert-warning myadmin-alert-top alerttop">
    <img src="assets/images/users/genu.jpg" class="img" alt="img"><a href="#" class="closed">×</a>
 
    <p class="m-b-0"><b></b></p>
    <a href="#" class="closed">×</a>
</div>