

@{
    ViewBag.Title = "Index";
}


<html>
<head>

</head>
<div class="container-fluid">
    <br />
    <div class="panel panel-primary>
        <div class="panel-heading">
            <span>تخمین تجهیزات نیروی انسانی و رسم نمودار داربست</span>

        </div>
        <div class="panel-body">
            <div class="control-group">
                <div class="inc">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group m-b-40">

                                <a href="Drowing">   <input type="button" class="form-control" id="height" name="textbox" value="تخمین تجهیزات مورد نیاز داربست" /></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group m-b-40">

                                <a href="Drowing"><input type="button" class="form-control" id="tool" name="text" value="تخمین نیروی انسانی مورد نیاز داربست" /></a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group m-b-40">

                                <a href="Drowing"> <input type="button" class="form-control" id="width" name="text" min="1" value="نمودار داربست" /></a>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
</html>

