@model Store.Models.Stores.AssignedWorkorderViewModel
@{
    /**/

    ViewBag.Title = "اختصاص دستور کار";
}
<style>
    .select2-container--default .select2-search--inline .select2-search__field {
        width: 20% !important;
    }
    .disable{
        cursor:not-allowed;
    }
    #table {
        transform: rotate(90deg);
    }

        #table th, #table td {
            transform: rotate(-90deg);
        }

    td {
        height: 50px;
    }
</style>

<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-12">
        <h4 class="page-title">فرم اختصاص دستور کار </h4>
    </div>
    <div class="col-lg-9 col-md-8 col-12">

        <ol class="breadcrumb">
            <li><a href="/Home/Index">داشبورد</a></li>
            <li><a href="/AssignedTask/Index">نمایش دستور کار اختصاص یافته </a></li>
            <li class="active">اختصاص دستور کار  </li>
        </ol>
    </div>

</div>
<div class="row" id="scrolltoinside">
    <div class="col-md-12">
        <div class="white-box">

            <table class="table">

                <tr>

                    <td>شرکت 1</td>


                </tr>
                <tr>


                    <td>دستورکار1</td>


                </tr>

                <tr>



                    <td>کاربر1</td>


                </tr>

                <table class="table">

                    <tr>

                        <td>شرکت 1</td>


                    </tr>
                    <tr>


                        <td>دستورکار1</td>


                    </tr>

                    <tr>



                        <td>کاربر1</td>


                    </tr>


                </table>
            </table>
            
            @*@using (Ajax.BeginForm("CreateAssignedWorkOrder", "AssignedTask", null, new AjaxOptions { Url = "/AssignedTask/CreateAssignedWorkOrder", HttpMethod = "Post", OnSuccess = "addSuccessWorkorder" }, new { @enctype = "multipart/form-data", id = "form", @class = "" }))
        {*@
            <section class="m-t-40">
                <div class="sttabs tabs-style-iconbox">
                    <nav>
                        <ul>
                            <li class="tab-current"><a href="#section-workOrder" class="sticon ti-home"><span>ثبت  دستور کار</span></a></li>
                            <li><a href="#section-routine" class="sticon ti-gift"><span>ثبت روتین</span></a></li>

                        </ul>
                    </nav>
                    <div class="content-wrap">

                        <section id="section-workOrder" class="content-current">



                            @*@Html.Partial("_WorkorderList", Model)*@


                        </section>

                        <section id="section-routine"></section>


                    </div>
                    @*<div class="col-md-6">
                    <button class="btn btn-block btn-success waves-effect btn-rounded">ثبت  دستور کار و  روتین </button>
                </div>*@
                </div>
                <!-- /tabs -->
            </section>
            @*}*@
        </div>

    </div>
</div>



<script>
    
    //$('.slimtest3').slimScroll({
    //    height: '250px',
    //    railVisible: true,
    //    alwaysVisible: true
    //});
    function getCompanies(event, type) {

        var companyId = $(event).val();
        var getUnit = $(event).parents('div .scop').find('#UnitId').next().next();
   
        jQuery.ajax({
            url: "/AssignedTask/GetCompaniesByParentId",
            datatype: "json",
            method: "POST",
            data: { parentId: companyId },
            success: function (data) {
                if (type == "section") {

                    var getSection = $(event).parents('div .scop').find('#SectionId').next().next();

                    $(getSection).html('');
                    $(getUnit).html('');
                    $.each(data, function (i, company) {

                        $(getSection).append('<option value="'

                            + company.Value + '">'

                            + company.Text + '</option>');

                    });
                }
                else {

                    $(getUnit).html('');
                    $.each(data, function (i, company) {

                        $(getUnit).append('<option value="'

                            + company.Value + '">'

                            + company.Text + '</option>');

                    });
                }

                //.each(function () {

                //    if ($(this).hasClass("selectRoomType")) {


                //    }

                //    if ($(this).hasClass("roomTypeNumber")) {
                //        number = parseInt($(this).val());
                //    }




                //});




            }



        });
        getWorkorders(event);



    }
    function getWorkorders(event) {

        var companyId = $(event).val();
        jQuery.ajax({
            url: "/AssignedTask/GetWorkOrderByCompanyID",
            datatype: "json",
            method: "POST",
            data: { companyID: companyId },
            success: function (data) {

                var target = $(event).parents('div .scop').find('#WorkorderId').next().next();

                $(target).html('');
                $.each(data, function (i, company) {

                    $(target).append('<option value="'

                        + company.Value + '">'

                        + company.Text + '</option>');

                });
                //.each(function () {

                //    if ($(this).hasClass("selectRoomType")) {


                //    }

                //    if ($(this).hasClass("roomTypeNumber")) {
                //        number = parseInt($(this).val());
                //    }




                //});




            }



        });




    }
   
    $(document).ready(function () {
        
        $.ajax({
            url: '/AssignedTask/getAssignedWorkorderList2',
            type: 'GET',
            cache: false,
            success: function (result) {
               
                // نمایش اطلاعات دریافت شده
                $('#section-workOrder').html(result);

                //$(window).scrollTop($('.searchResult').offset().top);
            }
        });

      

        // بررسی اینکه ایجکس به پایان رسیده یا نه
        var active = false;
        $(document).ajaxStart(function () {
            active = true;
        }).ajaxStop(function () {
            active = false;
        });

        $(document).on("click", "#section-workOrder #contentPager a[href]", function () {
            $('#section-workOrder #contentPager .active').addClass("disable"); 
            // بررسی  می کنیم که ایجکس درخواست شده به پایان رسیده تا ایجکس بعدی را ارسال کنیم
            if (!active) {
            $.ajax({
                url: $(this).attr("href"),
                type: 'GET',
                cache: false,
                success: function (result) {
                    // نمایش اطلاعات دریافت شده
                    $('#section-workOrder').html(result);
                    $('#section-workOrder #contentPager .active').removeClass("disable"); 
                    //$(window).scrollTop($('.searchResult').offset().top);
                }
            });
        return false;
            }
        });
     
});

</script>







