@model Store.Models.Stores.StoreRoom.ScaffoldModel
@{
    string url = HttpContext.Current.Request.Url.Authority;
    ViewBag.Title = "لیست نوع داربست ";


}
<div class="row bg-title">
    <div class="col-lg-3 col-md-4 col-12">
        <h4 class="page-title">نمایش لیست داربست</h4>
    </div>
    <div class="col-lg-9 col-md-8 col-12">

        <ol class="breadcrumb">
            <li><a href="/Home/Index">داشبورد</a></li>
            <li><a href="/Scaffolding/Create"> ثبت داربست </a></li>
            <li class="active"> لیست داربست</li>
        </ol>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-md-12">
        <div class="white-box">

            <div class="table-responsive">
                <div id="example_wrapper" class="dataTables_wrapper">

                    <table id="ScaffoldingGrid" class="table table-striped table-condensed table-bordered no-margin">
                        <thead>
                            <tr>

                                <th>عملیات</th>
                                <th>تصویر</th>
                                <th>شماره داربست</th>
                                <th>تگ</th>
                                <th>تاریخ درخواست</th>
                                <th>تاریخ انقضا</th>
                                <th>ثبت برچسب ایمنی</th>
                                <th>مجموع امتیازایمنی</th>
                                <th>وضعیت</th>
                                <th>پیگیری داربست</th>
                                <th>طول</th>
                                <th>عرض</th>
                                <th>ارتفاع</th>
                                <th>نوع داربست</th>
                                <th>نوع ساختمان</th>
                                <th>نوع زمین</th>
                                <th>کاربر ایجاد کننده</th>
                                <th>تاریخ ایجاد </th>
                                <th>آخرین کاربر ویرایش کننده</th>
                                <th>تاریخ آخرین ویرایش </th>


                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(document).ready(function () {

        var table = $("#ScaffoldingGrid").DataTable({
            "language": {
                "sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
                "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "نمایش _MENU_ رکورد",
                "sLoadingRecords": "در حال بارگزاری...",
                "sProcessing": "در حال پردازش...",
                "sSearch": "جستجو:",
                "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
                "oPaginate": {
                    "sFirst": "ابتدا",
                    "sLast": "انتها",
                    "sNext": "بعدی",
                    "sPrevious": "قبلی"
                },
                "oAria": {
                    "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                    "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                }
            },
            "processing": true,
            "serverSide": true,
            "info": true,
            "searching": true,

            "stateSave": false,
            "lenghtMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
            "responsive": true,
            //dom: '<"html5buttons"B>lTfgitp',
            //buttons: [

            //    { extend: 'excel', title: 'ExampleFile' },
            //    {extend: 'pdf', title: 'ExampleFile'},

            //    {extend: 'print',
            //        customize: function (win){
            //            $(win.document.body).addClass('white-bg');
            //            $(win.document.body).css('font-size', '10px');

            //            $(win.document.body).find('table')
            //                    .addClass('compact')
            //                    .css('font-size', 'inherit');
            //        }
            //    }
            //],
            "ajax": {
                "url": "/Scaffolding/List",
                "type": "get",

            },
            "columns": [

                { "data": "Id", "orderable": false },

                { "data": "ImageUrl", "orderable": false },

                { "data": "Title", "orderable": false },

                { "data": "Tag", "orderable": false },

                { "data": "ShamsiDate", "orderable": false },

                { "data": "ShamsiExpireDate", "orderable": false },

                { "data": "ShamsiSafetyTagExpire", "orderable": false },

                { "data": "TotalPoints", "orderable": false },

                { "data": "confirmed", "orderable": false },

                { "data": "ScaffoldStates", "orderable": false },

                { "data": "Length", "orderable": false },

                { "data": "Width", "orderable": false },

                { "data": "Height", "orderable": false },

                { "data": "ScaffoldTypeTitle", "orderable": false },

                { "data": "BuildingTitle", "orderable": false },

                { "data": "EarthTitle", "orderable": false },

                { "data": "ActionUserName", "orderable": false },

                { "data": "ShamsiCreateDate", "orderable": false },

                { "data": "EditUserName", "orderable": false },

                { "data": "ShamsiEditDate", "orderable": false }


            ],
            "columnDefs": [

                {
                    targets: 0,
                    render: function (data, type, row, meta) {
                        return '<div class="btn-group m-l-10"><button aria-expanded="true" data-toggle="dropdown" class="btn btn-info dropdown-toggle waves-effect waves-light" type ="button"> عملیات  <span class="caret" ></span></button><ul role="menu" class="dropdown-menu"><li><a href="/Scaffolding/Edit/' + data + '"><i class="zmdi zmdi-edit zmdi-hc-fw fa-fw"></i> ویرایش</a></li><li><a href="javascript:void();" onclick="ShowWorkorderByScaffoldId(' + data + ')"><i class="zmdi zmdi-eye zmdi-hc-fw fa-fw"></i>  دستور کار </a></li><li><a href="javascript:void();" onclick="ShowSafetyTagByScaffoldId(' + data + ')"><i class="zmdi zmdi-eye zmdi-hc-fw fa-fw"></i> تگ ایمنی  </a></li><li><a href="javascript:void();" onclick="ShowPerssonnelByScaffoldId(' + data + ')"><i class="zmdi zmdi-accounts zmdi-hc-fw fa-fw"></i>نیروی کار  </a></li><li><a href="javascript:void();" onclick="ShowEquipmentByScaffoldId(' + data + ')"><i class="zmdi zmdi-eye zmdi-hc-fw fa-fw"></i>تجهیزات به کار رفته </a></li></ul></div >'
                    }

                },
                {
                    targets: 1,
                    render: function (data, type, row, meta) {
                        return '<img src=/' + data + ' style="width:100px;" />'
                    }

                },
                {
                    targets: 8,
                    render: function (data, type, row, meta) {
                        return data === true ? '<div class="label label-table label-success"> تایید شده</div>' : '<div class="label label-table label-danger"> تایید نشده</div>'
                    }

                },
            ],

            "order": []
        });


    });

    function Remove(id) {
        swal({
            title: "رکورد حذف شود؟",
            text: " درصورت حذف شما نمیتوانید این رکورد را بازیابی کنید!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#1ab394",
            confirmButtonText: "بله",
            cancelButtonText: "خیر",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {

                if (isConfirm) {
                    $.ajax({
                        url: '/scaffolding/Delete',
                        data: { id: id },
                        type: 'Post',

                        dataType: "json",
                        success: function (data) {
                            if (data.ResultType == 0) {
                                swal("حذف شد!", data.Message, "success");
                                $('#scaffoldingGrid').DataTable().ajax.reload();
                            }
                            else if (data.ResultType == 1) {

                                swal("خطا", "امکان حذف رکورد وجود ندارد!", "error");
                            }
                            else if (data.ResultType == 2) {

                                swal("فاقد مجوز دسترسی", data.Message, "error");
                            }


                        }


                    });

                } else {
                    swal("کنسل", "حذف کنسل شد :)", "error");
                }
            });

    };


</script>