@model Store.Core.Domain.StoreTables.StoreRoom.Scaffolding


<div class="col-md-12 col-lg-12">

    @if (Model.WorkOrderId == 0)
    {
        <div class="row alert alert-warning alert-dismissable col-lg-12">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            هیچ نیروی کاری جهت نمایش وجود ندارد.
        </div>
    }
    else
    {
        <div class="table-responsive">
            <div id="example_wrapper" class="dataTables_wrapper">

                <table id="PersonnelGrid" class="table table-striped table-condensed table-bordered no-margin">
                    <thead>
                        <tr>

                            <th>کد پرسنلی</th>
                            <th>نام پرسنل</th>
                            <th>گروه کاری</th>
                            <th>شماره درخواست</th>




                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    }


</div>


@if (Model.WorkOrderId != 0)
{

    <script>
    $(document).ready(function () {

                    var table = $("#PersonnelGrid").DataTable({
                        "language": {
                            "sEmptyTable": "هیچ داده ای در جدول وجود ندارد",
                "sInfo": "نمایش _START_ تا _END_ از _TOTAL_ رکورد",
                "sInfoEmpty": "نمایش 0 تا 0 از 0 رکورد",
                "sInfoFiltered": "(فیلتر شده از _MAX_ رکورد)",
                "sInfoPostFix": "",
                "sInfoThousands": ",",
                "sLengthMenu": "نمایش _MENU_ رکورد",
                "sLoadingRecords": "در حال بارگزاری...",
                "sProcessing": "در حال پردازش...",
                "sSearch": "جستجو:",
                "sZeroRecords": "رکوردی با این مشخصات پیدا نشد",
                "oPaginate": {
                                "sFirst": "ابتدا",
                    "sLast": "انتها",
                    "sNext": "بعدی",
                    "sPrevious": "قبلی"
                },
                "oAria": {
                                "sSortAscending": ": فعال سازی نمایش به صورت صعودی",
                    "sSortDescending": ": فعال سازی نمایش به صورت نزولی"
                }
                        },
            "processing": true,
            "serverSide": true,
            "info": true,
            "searching": false,

            "stateSave": false,
            "lenghtMenu": [[10, 20, 50, -1], [10, 20, 50, "All"]],
            "responsive": true,
            //dom: '<"html5buttons"B>lTfgitp',
            //buttons: [

            //    { extend: 'excel', title: 'ExampleFile' },
            //    {extend: 'pdf', title: 'ExampleFile'},

            //    {extend: 'print',
            //        customize: function (win){
            //            $(win.document.body).addClass('white-bg');
            //            $(win.document.body).css('font-size', '10px');

            //            $(win.document.body).find('table')
            //                    .addClass('compact')
            //                    .css('font-size', 'inherit');
            //        }
            //    }
            //],
            "ajax": {
                "url": "/Scaffolding/PersonnelList?workorderId=@Model.WorkOrderId",
                "type": "get",

            },
            "columns": [

                { "data": "PersonnelCode", "orderable": false },

                { "data": "NameFamily", "orderable": false },

                { "data": "WorkgroupTitle", "orderable": false },

                { "data": "WorkorderTitle", "orderable": false },


            ],
            "columnDefs": [



            ],

            "order": []
        });


    });

    function Remove(id) {
        swal({
            title: "رکورد حذف شود؟",
            text: " درصورت حذف شما نمیتوانید این رکورد را بازیابی کنید!",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#1ab394",
            confirmButtonText: "بله",
            cancelButtonText: "خیر",
            closeOnConfirm: false,
            closeOnCancel: false
        },
            function (isConfirm) {

                if (isConfirm) {
                    $.ajax({
                        url: '/scaffolding/Delete',
                        data: { id: id },
                        type: 'Post',

                        dataType: "json",
                        success: function (data) {
                            if (data.ResultType == 0) {
                                swal("حذف شد!", data.Message, "success");
                                $('#scaffoldingGrid').DataTable().ajax.reload();
                            }
                            else if (data.ResultType == 1) {

                                swal("خطا", "امکان حذف رکورد وجود ندارد!", "error");
                            }
                            else if (data.ResultType == 2) {

                                swal("فاقد مجوز دسترسی", data.Message, "error");
                            }


                        }


                    });

                } else {
                    swal("کنسل", "حذف کنسل شد :)", "error");
                }
            });

    };
    </script>

}

